%h2
  = Event.model_name.human
  = @event.title

%p#notice= notice

%p
  = @event.description
%p
  = @event.location
%p
  = @event.starttime
%p
  = @event.endtime
%p
  = @event.organizeremail
%p
  = @event.organizertelegram
%p
  = @event.link

= link_to t('common.edit'), edit_event_path(@event)
\|
= link_to t('common.back'), events_path
